nav {
  height: 80px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%; // Ajustez la hauteur de votre conteneur de logo
    margin-right: 20px; // Ajoutez de la marge à droite pour l'espacement
  }

  .logo {
    height: 100px; // Ajustez la hauteur de votre logo
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-options {
    display: flex;
    align-items: center;
  }

  .connexion {
    margin-right: 20px; // Marge à droite pour l'espacement
  }

  a {
    font-size: large;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    margin: 0 10px;

    &:hover {
      transform: scale(1.2);
    }
  }
}
