nav {
  height: 80px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  .logo-container {
    display: flex;
    align-items: center;
    height: 100%; // Ajustez la hauteur de votre conteneur de logo
    margin-right: 20px; // Ajoutez de la marge à droite pour l'espacement
  }

  .logo {
    height: 100px; // Ajustez la hauteur de votre logo
    transition: 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  .nav-icon {
    width: 40px;
    height: 40px;
  }

  .nav-options {
    display: flex;
    align-items: center;
  }

  .connexion {
    margin-right: 20px;
  }

  .category-dropdown {
    position: relative;
  }

  .dropdown-content {
    position: absolute;
    top: 130%;
    left: 50%;

    transform: translateX(-50%);
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    display: none;

    a {
      color: #fff;
      padding: 12px 16px;
      text-decoration: none;
      display: block;

      &:hover {
        background-color: #555;
      }
    }
  }

  .category-dropdown:hover .dropdown-content {
    display: block;
  }

  a {
    font-size: large;
    text-decoration: none;
    transition: 0.3s;
    color: #fff;
    margin: 0 10px;

    &:hover {
      transform: scale(1.2);
    }
  }

  .connexion-icon {
    width: 40px;
    height: 40px;

  }

}
