nav {
  height: 80px;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  div {
    display: flex;
    align-items: center;

    img {
      height: 60px;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .nav-options {
    display: flex;
    align-items: center;
    margin: 0 auto; // Centrer horizontalement les éléments

    a {
      font-size: large;
      text-decoration: none;
      transition: 0.3s;
      color: #fff;
      margin: 0 10px; // Ajuster l'espace entre les éléments

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
