.restaurant-list {
  width: 80%;
  margin: 0 auto;
}

.restaurant-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.restaurant-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  width: calc(33.33% - 20px); /* 33.33% width with some spacing between */
  margin-bottom: 20px;
  box-sizing: border-box;
  transition: transform 0.3s;
}

.restaurant-card:hover {
  transform: scale(1.05);
}

.restaurant-card h3 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.restaurant-card p {
  font-size: 1.2em;
  margin: 0;
}

.restaurant-image {
  width: 100px; /* Ajustez la taille de l'image selon vos besoins */
  height: auto;
  border-radius: 10px; /* Ajoutez des coins arrondis à l'image si nécessaire */
}
