<div class="home-page">
  <div class="category films" (click)="navigateTo('films')">
    <h2>Films</h2>
    <p>Découvrez et partagez vos avis sur les films.</p>
  </div>
  <div class="category lieux" (click)="navigateTo('lieux')">
    <h2>Lieux</h2>
    <p>Partagez vos expériences sur différents lieux.</p>
  </div>
  <div class="category restaurants" (click)="navigateTo('restaurants')">
    <h2>Restaurants</h2>
    <p>Donnez vos recommandations et critiques sur les restaurants.</p>
  </div>
</div>
